<strong>Olá, {{ owner }}.</strong>
<p>Houve uma nova inscrição em seu meetup:</p>
<p>
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <strong>Inscrito: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }}
</p>